<h1 style="text-align:center;">Greetings from the interwebs</h1>
<p style="text-align:center; background-color:#000; color:#fff;">
  It is now <%= @current_time %>
</p>

<%= 'This is silly string' %>

<% if true %>
  <h2>It's true....</h2>
  <% end %>

<!-- <p>
  <a href="#">A link in html</a>
</p> -->

<p>
<%= link_to "Say goodbye...", say_goodbye_path %>
</p>